<!DOCTYPE html>
<html>
	<body>
		<form action='/mongooses' method='post'>
			<p>Name: <input type='text' name='name'></p>
			<p>Age: <input type='text' name='age'></p>
			<p>Breed: <input type='text' name='breed'></p>
			<p><input type='submit' value='Puppo!'></p>
		</form>	
	</body>
</html>
