<!DOCTYPE html>
<html>
	<body>
		<h1>Dis Puppo</h1>
		<h5>Name: <%= pups.name %></h5>
		<h5>Age: <%= pups.age %></h5>
		<h5>Breed: <%= pups.breed %></h5>
		<p><a href='/'>All Puppos</a></p>
		<p><a href='/mongooses/<%=pups._id%>/edit'>Edit Me</a></p>
	</body>
</html>
