<h1>Welcome to QuotingDojo</h1>
<form action='/quotes' method='post'>
	<h3>Your name: <input type='text' name='name'></h3>
	<h3>Your quote: <textarea name='quote'></textarea>
	<p><input type='submit' value='Add my quote!'></p>
</form>
<form action='/quotes' method='get'>
	<input type='submit' value='Skip to quotes!'>
</form>
